{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}{{ article.title }}{% endblock %}
{% block url %}{{ SITEURL }}/{{ article.url }}{% endblock %}

{% if article.summary %}
{% block description %}{{ article.summary | striptags | safe | truncate(300) }}{% endblock %}
{% endif %}

{% if article.image %}
{% block image %}{{ SITEURL }}/images/{{ article.image }}{% endblock %}
{% endif %}


{% block content %}
<div class="container">
    <main role="main" class="container">
        <article class="blog-post">
            <header class="my-5">
                <h1>
                    <a
                        href="{{ SITEURL }}/{{ article.url }}"
                        class="text-dark blog-post-title"
                        rel="bookmark"
                        title="Permalink to {{ article.title|striptags }}"
                        >{{ article.title }}</a
                    >
                </h1>
                <p class="text-muted">{{ article.locale_date }}</p>
            </header>
            
            {% if article.previewincontent %}
                <!-- START Summary-->
                <p>
                    {{ article.summary|striptags }}
                    <p align="center">
                    {% if article.cover %}           
                        <div class="container"><div class="col-md-6" style="padding-left: 0px;  padding-right: 0px;">
                            <img src="{{ article.cover }}" width = "315" height="315" class="img-fluid">
                        </div></div>   
                    {% endif %} 
                    {% if article.youtubeid %}
                        <iframe id="test" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ article.youtubeid }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {% endif %} 
                    {% if article.soundcloudid %}
                        <iframe width="560" height="315" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{ article.soundcloudid }}&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                        <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
                        </div>
                    {% endif %} 
                    {% if article.readmore %}
                        <a href="{{ SITEURL }}/{{ article.url }}">Read more...</a>
                    {% endif %} 
                    </p>
                </p>
                <!-- END Summary -->
            {% endif %} 

            {% if article.content %}
                <div class="article-content">
                    {{ article.content }}
                </div>
            {% endif %} 
        </article>
    </main>
</div>
{% endblock %}
