<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        {% block head %}
        <meta charset="utf-8" />

        <!-- General medatada -->
        <meta name="author" content="{{ AUTHOR }}" />
        <meta name="title" content="{% block title %}{{ SITENAME }}{% endblock %}" />
        <meta name="description" content="{% block description %}{{ SITEDESCRIPTION }}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Social media tags -->
        <meta property="og:title" content="{{ self.title() }}" />
        <meta property="og:description" content="{{ self.description() }}" />
        <meta property="og:image" content="{% block image %}{{ SITEURL }}/images/cover-image.jpg{% endblock %}" />
        <meta property="og:url" content="{% block url %}{{ SITEURL }}{% endblock %}" />
        <meta property="og:site_name" content="{{ SITENAME }}" />

        <!-- Page title -->
        <title>{{ self.title() }}</title>

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />

        <!-- RSS and Atom feeds -->
        {% if FEED_ALL_ATOM %}
        <link
            href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}"
            type="application/atom+xml"
            rel="alternate"
            title="{{ SITENAME }} Atom Feed"
        />
        {% endif %} {% if FEED_ALL_RSS %}
        <link
            href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}"
            type="application/rss+xml"
            rel="alternate"
            title="{{ SITENAME }} RSS Feed"
        />
        {% endif %}

        <!-- Block for additional page specific header tags -->
        <!-- prettier-ignore -->
        {% block extra_head %}
        {% endblock extra_head %}
        
        {% endblock head %}
    </head>

    <body class="d-flex flex-column h-100">
        <!-- Navigation bar -->
        <header class="border-bottom p-3 bg-white">
            <nav class="navbar navbar-expand-sm justify-content-center">
                <a class="navbar-brand text-dark" href="{{ SITEURL }}/index.html">
                <span class="d-sm-inline">Marc Scott Meissner</span></a>
                <a class="icon-link px-1" href="https://github.com/marcmeissner"><i class="fab fa-github"></i></a>
                <a class="icon-link px-1" href="https://youtube.com/channel/UCQml3B_eh4YayfMrfhwfizg"><i class="fab fa-youtube"></i></a>
                <a class="icon-link px-1" href="https://soundcloud.com/user-13046589"><i class="fab fa-soundcloud"></i></a>
                <a class="icon-link px-1" href="https://open.spotify.com/user/21y2cqjyea3bwazbk5rkokt6y"><i class="fab fa-spotify"></i></a>
            </nav>
        </header>

        <!-- Page aboutme block -->
        {% block aboutme %} {% endblock %}

        <!-- Page content block -->
        {% block content %} {% endblock %}

        <!-- JavaScript -->
        <script src="https://kit.fontawesome.com/0598d5a60d.js" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"
        ></script>
        <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/main.js"></script>

        <!-- Optional page specific scripts block -->
        {% block scripts %} {% endblock %}

    </body>
</html>
